/	{
	/delete-node/ leds;

	leds0 {
		compatible = "gpio-leds";
		status = "okay";
		label = "LED0";
		led0: led_0 {
			status = "okay";
			gpios = <&gpio0 2 0>;
			label = "Green LED 1";
		};
	};

	leds1 {
		compatible = "gpio-leds";
		status = "okay";
		label = "LED1";
		led1: led_1 {
			gpios = <&gpio0 3 0>;
			label = "Green LED 2";
		};
	};

	leds2 {
		compatible = "gpio-leds";
		status = "okay";
		label = "LED2";
		led2: led_2 {
			gpios = <&gpio0 4 0>;
			label = "Green LED 3";
		};
	};

	leds3 {
		compatible = "gpio-leds";
		status = "okay";
		label = "LED3";
		led3: led_3 {
			gpios = <&gpio0 5 0>;
			label = "Green LED 4";
		};
	};
};


&i2c2 { /* SDA P0.26, SCL P0.27, ALERT P0.11 */
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	mysensor: mysensor@48 {
		compatible = "i2c-device";
		reg = <0x48>;
		label = "MYSENSOR";
//		int-gpios = <&gpio0 11 GPIO_ACTIVE_LOW>;
	};
};
